@import url("//code.jquery.com/jquery-1.11.1.min.js");


/*Login Signup Page*/


.header-top i {
    font-size: 18px;
}




.user input {
    background: rgba(0, 0, 0, 0) url() no-repeat scroll 7px 12px;
}

.pass input {
    background: rgba(0, 0, 0, 0) url() no-repeat scroll 7px 12px;
}

.mail input {
    background: rgba(0, 0, 0, 0) url() no-repeat scroll 4px 12px;
}


/*Home Page*/

.home {
    background: #f6f7fa;
}

#navigation {
    background:#343a40;
    min-width: 16rem;
}

#navigation {
    padding: 0;
    min-width: 16rem;
}

.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 30%;
    margin:0;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.v-align {
    vertical-align: top;
}

#navigation{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navi a {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
}


.navi .active a {
    background: black;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}

.navi a:hover {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
}


@media only screen {
   
    #navigation .navi a {
        font-size: 14px;
        padding: 20px;
        text-align: center;
    }
    
    #navigation .navi a:hover,
    #navigation .navi .active a {
        background: #122143 none repeat scroll 0 0;
        border-left: none;
        display: block;
        padding-left: 20px;
    }
    
    .v-align header {
        padding: 12px 15px;
    }
}