<app-farmer-header></app-farmer-header>

<div class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-sm-2 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="navi">
                    <ul>
                        <li><a routerLink="/farmer/myAccount">My Account</a></li>
                        <li><a routerLink="/farmer/addProduct">Add Product</a></li>
                        <li><a routerLink="/farmer/bankDetails">Bank Details</a></li>
                        <li><a routerLink="/farmer/currentOrder">Current Order</a></li>
                        <li><a routerLink="/farmer/previousOrder">Previous Orders</a></li>
                        <li><a routerLink="/farmer/viewProduct">View Product</a></li>
                        <li><a routerLink="/home">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10 display-table-cell v-align">
                    </div>
                </div>
               </div>
            </div>