@import url("https://fonts.googleapis.com/css?family=Ubuntu");

.carousel {
   margin-bottom: 4rem;
 }

 .carousel-caption {
   bottom: 3rem;
   z-index: 10;
 }


 .carousel-item {
   height: 32rem;
   background-color: #777;
 }
 .carousel-item > img {
   position: absolute;
   top: 0;
   left: 0;
   min-width: 100%;
   height: 32rem;
   filter: brightness(40%);
   -webkit-filter: brightness(40%);
   -moz-filter: brightness(40%);
   -o-filter: brightness(40%);
   -ms-filter: brightness(40%);
 }

 #carouselLine{
   font-size: 1.4rem;
   font-family: 'Ubuntu', sans-serif;
 }

 #btn{
   margin: 10px;
 }