.title{

    /* padding:60px 230px; */
    padding-top: 60px;
    padding-left: 230px;
    /* padding-bottom: 50px;
    padding-left: 80px; */
    color :#236AB9;
    
    }
    .next_buttons{
        padding:30px 200px;
    }
    .total_earnings{

        padding:10px 200px;
    }
    .change_password{
        padding:40px 0px;
    }
    .change_password1{
        padding:70px 0px;
    }

    .change_password_button{
       
    
    border-radius: 5px;
    width:215px; 
    }
    .bg{
        background-color: #F0F7D4;
        
    }
    .main-body{
        padding-top: 30px;
    }
