<app-farmer-common-header></app-farmer-common-header>

<div *ngIf="!hideVar">
		<h1> Forget Password </h1>
	<div class="container-fluid">
		<div class="card shadow cardwidth">
			<div class="card-body">
				<form [formGroup]="numberForm" (ngSubmit)="sendOtp(numberForm.value)">
					<div class="form-group">
							<div class = "form-comp-top">
						<label for="exampleInputEmail1">Mobile Number</label>
						<input class="form-control" type="text" id="mobileNo" formControlName="mobileNo">
						<div *ngIf="numberForm.controls['mobileNo'].touched && numberForm.controls['mobileNo'].invalid" class="alert">
							<div *ngIf="numberForm.controls['mobileNo'].hasError('minlength')" >
								Less than 10 digits 
							</div>
							<div *ngIf="numberForm.controls['mobileNo'].hasError('maxlength')">
								More than 10 digits 
							</div>
							<div *ngIf="numberForm.controls['mobileNo'].hasError('required')">
								Mobile Number is required!  
							</div>
						</div>
						</div>
					</div>
					<div class = "form-comp-button">
					<button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!numberForm.valid">Send OTP</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div *ngIf="hideVar2">
		<h1> Verify OTP To Reset Password </h1>
	<div class="container-fluid">
		<div class="card  shadow cardwidth">
			<div class="card-body">
				<form [formGroup]="otpForm" (ngSubmit)="verifyOtp(otpForm.value)">
					<div class="form-group">
							<div class = "form-comp-top">
						<label for="exampleInputEmail1">Enter OTP</label>
						<input class="form-control" type="text" id="otp" formControlName="otp">
						<div class="alert" *ngIf=" otpForm.controls['otp'].touched && otpForm.controls['otp'].hasError('required')">
							OTP is required!  
						</div>
						</div>
					</div>
					<div class = "form-comp-button">
					<button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!otpForm.valid">Verify OTP</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div *ngIf="hideVar3">
		<h1> Reset Password </h1>
	<div class="container-fluid">
		<div class="card shadow cardwidth">
			<div class="card-body">
				<form [formGroup]="newPasswordForm" (ngSubmit)="resetPasswordFarmer(newPasswordForm.value)">
					<div class="form-group">
							<div class = "form-comp-top">
						<label for="exampleInputPassword1">New Password</label>
						<input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						<div *ngIf="newPasswordForm.controls['password'].touched && newPasswordForm.controls['password'].invalid" class="alert">
							<div *ngIf="newPasswordForm.controls['password'].hasError('minlength')" >
								Less than 6 digits 
							</div>
							<div *ngIf="newPasswordForm.controls['password'].hasError('maxlength')">
								More than 12 digits 
							</div>
							<div *ngIf="newPasswordForm.controls['password'].hasError('required')">
								Password is required!  
							</div>
						</div>
						</div>
						<div class = "form-comp">
						<label>Re-enter Password</label>
						<input type="password" formControlName="confirmPassword" class="form-control" placeholder="Password">
						<div *ngIf="newPasswordForm.controls['confirmPassword'].touched && newPasswordForm.controls['confirmPassword'].errors">
							<div class="alert"  *ngIf="newPasswordForm.controls['confirmPassword'].hasError('required')">
								Password is required!  
							</div>
							<div class="alert" *ngIf="newPasswordForm.controls['confirmPassword'].errors.notEquivalent">The new password and confirm password do not match
							</div>
						</div>
					</div>
					</div>
					<div class = "form-comp-button">
					<button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!newPasswordForm.valid">Submit</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>