<app-customer-common-header></app-customer-common-header>

    <div class="container">
      <h1>Login Customer</h1>
    </div>
<div class="container-fluid">
  <div class="card shadow cardwidth">
    <div class="card-body">
      <form [formGroup]="rForm" (ngSubmit)="loginCustomer(rForm.value)">
        <div class="form-group">
            <div class = "form-comp-top">
                <div class = "name"><label for="exampleInputEmail1">Mobile Number*</label></div>
          <input class="form-control" type="text" id="mobileNo" formControlName="mobileNo" placeholder="Mobile Number">
          <div *ngIf="rForm.controls['mobileNo'].touched && rForm.controls['mobileNo'].invalid" class="alert">
            <div *ngIf="rForm.controls['mobileNo'].hasError('minlength')" >
              Less than 10 digits
            </div>
            <div *ngIf="rForm.controls['mobileNo'].hasError('maxlength')">
             More than 10 digits
           </div>
           <div *ngIf="rForm.controls['mobileNo'].hasError('required')">
             Mobile Number is required!
           </div>
         </div>
         </div>
         <div class = "form-comp">
            <div class = "name"> <label for="exampleInputPassword1">Password*</label></div>
         <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
         <div *ngIf="rForm.controls['password'].touched && rForm.controls['password'].invalid" class="alert">
          <div *ngIf="rForm.controls['password'].hasError('maxlength')">
           More than 12 digits
         </div>
         <div *ngIf="rForm.controls['password'].hasError('required')">
           Password is required!
         </div>
         <div *ngIf="rForm.controls['password'].hasError('pattern')">
          Password Invalid (Atleast one lowercase, uppercase, specialcharacter, digit, minLength 6) !
        </div>
      </div>
    </div>
    </div>
    <a routerLink="/customer/forgetPassword">Forgot password?</a>
    <div class = "form-comp-button">
    <button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">Login</button>
    <button type="submit" class="btn btn-primary" routerLink="/customer/register">Register</button>
    </div>
  </form>
</div>
</div>
</div>
<!-- Small modal -->

<div data-toggle="modal" data-target=".bd-example-modal-sm" #myModal></div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title"><b>Invalid Credentials!</b></h5>
              <p class="card-text">Try Login Again....</p>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    </div>
  </div>
</div>