<header>
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark topnav">
     <a class="navbar-brand">
   <img src="../../../assets/Header/kkd_logo.png" width="60" height="60" alt="">
   </a>
   <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="container-fluid">
     <div class="navbar-collapse collapse nav" id="navbarTogglerDemo01">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link" routerLink="/home"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/help"><i class="fas fa-info-circle"></i> Help</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/support"><i class="fas fa-phone-square"></i>  Support</a>
         </li>
       </ul>
       <form class="form-inline mt-2 mt-md-0">
         <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" [(ngModel)]="searchInput"/>
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)='sendToParent()'><i class="fas fa-search"></i></button>
       </form>
     </div>
     </div>
   </nav>
 </header>
