.card-img-top {
    width: 100%;
    height: 12em;
    object-fit: cover;
    margin-bottom: -1rem;
}
p {
    margin: 0em;
    font-size: 12px;
    text-align: left;
}

hr {
    margin: 0.3rem;
    opacity: 0;
}

.card-title {
    margin: 0.1rem;
}
