<app-common-header></app-common-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <h1> About Us </h1>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="top card shadow">
                    <h5 class="card-header">
                        Problem Statement
                    </h5>
                    <div class="card-block">
                                <span>In the Global Market</span>
                            <ul class="card-text">                            
                                <li>the actual price of the products is not prevalent in the supply chain.</li> 
                                <li>need of a platform for farmers to sell.</li>
                                <li>their products at their convenient price. The customers do not get products from the farm owner.</li>
                            </ul>
                        
                    </div>
                </div>

                <div class="card shadow">
                    <h5 class="card-header">
                        Project Definition
                    </h5>
                    <div class="card-block">
                        <p class="card-text">
                            The Project “Kisan Ki Dukan(KKD)” is the launch of trend that focuses on delivering goods directly to the customer from the farm.
                            </p>
                            <blockquote> <i>
                            As we know, it’s not fresh if it’s not from farm.
                            </i>
                            </blockquote> 
                            <p class="card-text">
                            KKD is an online portal that facilitate farmers to offer an astonishing range of 
                            merchandise directly from their farm to every
                            </p>
                            <ul>
                                <li>household</li> 
                                <li>restaurants</li> 
                                <li>hotels</li>
                                <li>shops</li> 
                            </ul>
                            <p class="card-text">via electronically transferring information between farmer and customer.
                   </p>
                        </div>
                </div>


                <div class="card shadow">
                    <h5 class="card-header">
                        Stakeholders
                    </h5>
                            <ul class="card-block">
                            <li>
                            Farmers: By connecting the farmers directly with their customer and eliminating the middleman, KKD will help them to generate a 
                            greater profit.
                            </li>
                            <li> 
                            Customers: The buyer will get their products directly from the farm. Hence they can be sure that the vegetables they are 
                            consuming are fresh and unadulterated.
                            </li>
                            <li>
                            Product Owner: We as the product developers and owners will provide a platform for the farmers and the customers to interact.
                                </li>
                        </ul>
                    </div>
                </div>

                <div class="card shadow">
                    <h5 class="card-header">
                        Scope and Impact
                    </h5>
                    <div class="card-block">
                            <span id = "heading">Scope</span>
                            
                            <ul class="card-block card-text">
                            <li>Small scale and large scale farmers</li>	
                            <li>Consumers of products</li>
                            </ul>
                            <span id = "heading">Impact</span>
                            <ul class="card-block card-text">    
                            <li>Digitalization of supply chain </li>
                            <li>Profitable Farmer </li>
                            <li>On Demand Supply Management</li>	
                            <li>Eliminating multiple layers of Supply chain</li>
                            </ul>	
                    </div>
                </div>

                <div class="card shadow">
                    <h5 class="card-header">
                        Features
                    </h5>
                    <div class="card-block">
                            <ul class="card-block card-text">
                                    <li>Ubiquity and Global market reach</li>	
                                    <li>Richness and Interactivity</li>
                                    <li>Personalization</li>
                                    <li>Reducing need of middlemen</li>
                                    <li>Fresh products directly from the farm to customer’s doorstep</li>
                                    </ul>
                    </div>
                </div>

                <div class="card shadow">
                    <h5 class="card-header">
                        Functionalities
                    </h5>
                    <div class="card-block">
                        <ul class="card-block card-text">
                                <li>One Step Registration with Mobile Number</li>	
                                <li>Search and sort variety of products</li>
                                <li>Inventory management</li>
                                <li>Simple checkout</li>
                                <li>Order Management</li>
                                <li>Review management</li>
                                <li>Online payment or COD options</li>
                                </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>