h1 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 0 40px 0;
    text-align: center;
    margin: 0;
    color: #4b5320;
    font-size: 50px;
    line-height: 42px;
    text-shadow: 0 2px white, 0 3px #777;
    }

span{
    margin : auto;
    padding-left : 10px;
    color : #545454;
}

.card-header{
    text-align : center;
}

.card{
    width : 65%;
    margin : auto;
    margin-bottom : 30px;
}

.card-text{
    padding-left : 20px;
    padding-right : 20px;
}

blockquote{
    text-align : center;
    font-size : 26px;
}
.card-block{
    margin : 15px 15px 15px 15px;

}
