<app-customer-common-header></app-customer-common-header>

<div *ngIf="!hideVar">
		<h1> Register Customer </h1>
	<div class="container-fluid">
		<div class="card shadow cardwidth">
			<div class="card-body">
				<form [formGroup]="rForm" (ngSubmit)="sendOtp(rForm.value)">
					<div class="form-group">
							<div class = "form-comp-top">
									<div class = "name"><label for="exampleInputName1">First Name*</label></div>
						<input class="form-control" type="text" id="FirstName" formControlName="firstName">
						<div *ngIf="rForm.controls['firstName'].touched && rForm.controls['firstName'].invalid" class="alert">
							<div *ngIf="rForm.controls['firstName'].hasError('minlength')" >
								Less than 3 digits
							</div>
							<div *ngIf="rForm.controls['firstName'].hasError('required')">
								First Name is required!
							</div>
						</div>
						</div>
						<div class = "form-comp">
						<label for="exampleInputName2">Last Name</label>
						<input class="form-control" type="text" id="LastName">
						</div>
						<div class = "form-comp">

								<div class = "name"><label for="exampleInputEmail1">Mobile Number*</label></div>
						<input class="form-control" type="text" id="mobileNo" formControlName="mobileNo">
						<div *ngIf="rForm.controls['mobileNo'].touched && rForm.controls['mobileNo'].invalid" class="alert">
							<div *ngIf="rForm.controls['mobileNo'].hasError('minlength')" >
								Less than 10 digits
							</div>
							<div *ngIf="rForm.controls['mobileNo'].hasError('maxlength')">
								More than 10 digits
							</div>
							<div *ngIf="rForm.controls['mobileNo'].hasError('required')">
								Mobile Number is required!
							</div>
						</div>
						</div>
						<div class = "form-comp">
								<div class = "name"><label for="exampleInputPassword1">Password*</label></div>
						<input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						<div *ngIf="rForm.controls['password'].touched && rForm.controls['password'].invalid" class="alert">
							<div *ngIf="rForm.controls['password'].hasError('minlength')" >
								Less than 6 digits
							</div>
							<div *ngIf="rForm.controls['password'].hasError('maxlength')">
								More than 12 digits
							</div>
							<div *ngIf="rForm.controls['password'].hasError('pattern')">
								Password Invalid (Atleast one lowercase, uppercase, specialcharacter, digit, minLength 6) !
							</div>
							<div *ngIf="rForm.controls['password'].hasError('required')">
								Password is required!
							</div>
							</div>
						</div>
						<div class = "form-comp">
								<div class = "name">	<label>Re-enter Password*</label></div>
						<input type="password" formControlName="confirmPassword" class="form-control" placeholder="Password">
						<div *ngIf="rForm.controls['confirmPassword'].touched && rForm.controls['confirmPassword'].errors">
							<div class="alert"  *ngIf="rForm.controls['confirmPassword'].hasError('required')">
								Password is required!
							</div>
							<div class="alert" *ngIf="rForm.controls['confirmPassword'].errors.notEquivalent">The new password and confirm password do not match
							</div>
						</div>
						</div>
					</div>
					<div class = form-comp-button>
					<button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">Send OTP</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div *ngIf="hideVar">
		<h1> Verify OTP to Register Customer</h1>
	<div class="container-fluid">
		<div class="card shadow cardwidth">
			<div class="card-body">
				<form [formGroup]="otpForm" (ngSubmit)="verifyOtp(otpForm.value)">
					<div class="form-group">
							<div class = "form-comp-top">
							<div class = "name"><label for="exampleInputEmail1">Enter OTP</label></div>
						<input class="form-control" type="text" id="otp" formControlName="otp">
						<div class="alert" *ngIf=" otpForm.controls['otp'].touched && otpForm.controls['otp'].hasError('required')">
							OTP is required!
						</div>
					</div>
					</div>
					<div class = "form-comp-button">
					<button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!otpForm.valid">Verify OTP</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Small modal -->

<div data-toggle="modal" data-target="#myModal" #myModal></div>

<div  id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title"><b>Already Registered!</b></h5>
              <p class="card-text">So Directly Login......</p>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    </div>
  </div>
</div>

<!-- Small modal -->

<button data-toggle="modal" data-target="#myModal1" #myModal1></button>

<div id="myModal1" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title"><b>Wrong OTP!</b></h5>
              <p class="card-text">Enter Right OTP.......</p>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    </div>
  </div>
</div>

