<app-customer-header></app-customer-header>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button>
      <a routerLink="/customer/myAccount">My Account</a>
    </button>
    </div>
    <div class="col-md-6">
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" [(ngModel)]="searchInput"/>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)='searchProduct()'><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="col-md-2">
      <button><a routerLink="/customer/myCart">My Cart</a></button>
    </div>
    <div class="col-md-2">
      <button><a routerLink="/home">Log Out</a></button>
    </div>
  </div>
</div>
<!-- end of header for customer-->
<div class="container my-4">
  <div class="row">
    <div class="col-md-3">
      <div class="dropdown">
        <label>Sort By</label>
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Relevance
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="sortBy('priceLH')">Price: Low to High</a>
          <a class="dropdown-item" (click)="sortBy('priceHL')">Price: High to Low</a>
          <a class="dropdown-item" (click)="sortBy('quantityLH')">Quantity: Low to High</a>
          <a class="dropdown-item" (click)="sortBy('quantityHL')">Quantity: High to Low</a>
          <a class="dropdown-item" (click)="sortBy('distance')">Distance</a>
          <a class="dropdown-item" (click)="sortBy('popularity')">Popular</a>
        </div>
      </div>
      <label class="my-2"><span>Filter By Price:</span></label>
      <ion-range-slider #sliderElement
        type="double"
        min="0"
        max="100"
        from_shadow="true"
        to_shadow="true"
        grid="true"
        grid_num="10"
        prefix="Price: "
        postfix=" Rs"
        decorate_both="false"
        (onFinish)="myOnFinishPrice($event)">
      </ion-range-slider>
      <!-- filtered by price-->
      <br>
      <label class="my-2"><span>Filter By Quantity:</span></label>
      <ion-range-slider #sliderElement
        type="double"
        max="50"
        min="0"
        from_shadow="true"
        to_shadow="true"
        grid="true"
        grid_num="5"
        prefix="Quantity:"
        postfix=" Kg"
        decorate_both="false"
        (onFinish)="myOnFinishQuantity($event)">
      </ion-range-slider>
      <!-- filtered by Quantity-->
    </div>
    <!-- end of side bar-->
    <div *ngIf="products[0]; then prod else empty"></div>
      <ng-template #prod>
    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let item of products | paginate:{itemsPerPage:6,currentPage:p}">
              <div class="card shadow p-2 mb-3" style="height: 26rem;">
                  <!-- Card image -->
                  <div class="view overlay zoom">
                    <img class="card-img-top" src="{{item.imageUrl}}" alt="Product Image">
                  </div>
                  <!-- Card content -->
                  <div class="card-body text-center">
                    <!-- Title -->
                    <h5 class="card-title">
                      <strong>{{item.productName}}</strong>
                    </h5>
                    <!-- Text -->
                    <div class="text-area">
                      <p class="card-text">
                        <b>Description: </b>{{item.description}}</p>
                      <p class="card-text">
                        <b>Price: </b>{{item.price}}/kg.</p>
                      <p class="card-text">
                        <b>Bulk Order Price: </b>{{item.bulkOrderPrice}}/kg.</p>
                      <p class="card-text">
                        <b>Quantity: </b>{{item.quantity}} Kg</p>
                    </div>
                    <hr>
                    <span>
                        <button type="button" class="btn btn-success" (click)="addToCart(item)" data-toggle="modal" data-target="#exampleModal1">Add to Bag</button>
                    </span>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <!-- end of search results-->
      <pagination-controls (pageChange)="p=$event" *ngIf="products[0]"></pagination-controls>
    </div>
      </ng-template>
    <ng-template #empty>
      <div class="col-md-9">
        <img src="./../../../../assets/images/not-found.png" alt="no products found">
      </div>
    </ng-template>
  </div>
</div>

<!-- Quantity Change -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Please Enter Quantity</label>
            <input type="number" min="1" class="form-control" id="recipient-name" [(ngModel)]="enteredQuant">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="proceed()">Proceed</button>
      </div>
    </div>
  </div>
</div>




