<app-common-header></app-common-header>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <h1> Contact Us </h1>
      </div>
  </div>
  <br>


  <div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="card shadow">
				<h5 class="card-header">
					Mail Us
				</h5>
				<div class="card-block">
					<p class="card-text">
						Kisaan Ki Dukaan<br>(KKD)<br>Publicis Sapient Pvt. Ltd.<br>Unitech Infospace<br>Sector 21 <br>Gurugram <br>India, 122017
					</p>
				</div>
				
			</div>
		</div>
		<div class="col-md-6">
			<div class="card shadow">
				<h5 class="card-header">
					Registered Office Address
				</h5>
				<div class="card-block">
					<p class="card-text">
                        Kisaan Ki Dukaan<br>(KKD)<br>Publicis Sapient Pvt. Ltd.<br>Unitech Infospace<br>Sector 21 <br>Gurugram <br>India, 122017
					</p>
				</div>
				
			</div>
		</div>
	</div>
</div>
