<!--Footer-->
<footer id="myFooter" class="mt-5">
  <div>
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo">
          <a href="#">
            <img src="../../../assets/Header/kkd_logo.png" class="mt-4 ml-5" width="120" height="120" alt="">
          </a>
        </h2>
      </div>
      <div class="col-sm-2">
        <h5>Get started</h5>
        <ul>
          <li>
            <a routerLink="/farmer/login">Farmer</a>
          </li>
          <li>
            <a routerLink="/customer/login">Customer</a>
          </li>
          <li>
            <a routerLink="/about">About Us</a>
          </li>
          
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Company Information</h5>
        <ul>
          
          <li>
            <a routerLink="/policies">Policies</a>
          </li>
          <li>
            <a routerLink="/connect">Contact Us</a>
          </li>
          <li>
            <a href="#">Reviews</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Support</h5>
        <ul>
          <li>
            <a href="/help">Help</a>
          </li>
          <li>
            <a href="/support">Support</a>
          </li>
          <li>
            <a href="#">Forums</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="#" class="twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="google">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </div>
        <button type="button" class="btn btn-default" routerLink="/connect">Contact us</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2018 Kisan Ki Dukan </p>
  </div>
</footer>
<!--/.Footer-->
